<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horse Records</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Horse Records</h1>

    <div class="container">
        {% if error_message %}
        <div class="error-message" style="color: red;">
            {{ error_message }}
        </div>
        {% endif %}
        <!-- Left Column: Add New Record Form -->
        <div class="form-column">
            <h2 style="text-align: center;">Management</h2>
            <button id="open-form-button">Add Record</button>
            <button id="open-announcement-button">Announcement</button>
            <button id="open-title-button">Title</button>
            <div id="form-popup" class="form-popup" style="display: none;">
                <form action="/add" method="POST" enctype="multipart/form-data">
                    <label for="horse_number">Horse Number:</label>
                    <input type="number" id="horse_number" name="horse_number" required min="1" step="1">

                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required>

                    <label for="organization">Organization:</label>
                    <input type="text" id="organization" name="organization" required>

                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" required min="1" step="1">

                    <label for="image">Upload Image:</label>
                    <input type="file" id="image" name="image" accept="image/*">

                    <button type="submit">Add Record</button>
                    <button type="button" id="cancel-form-button">Cancel</button>
                </form>
            </div>
            
            <div id="announcement-popup" class="form-popup" style="display: none;">
                <form action="/announcement" method="POST">
                    <label for="announcement">New Announcement:</label>
                    <textarea id="announcement" name="announcement" required></textarea>
                    <button type="submit">Save</button>
                    <button type="button" id="cancel-announcement-button">Cancel</button>
                </form>
            </div>
            
            <div id="title-popup" class="form-popup" style="display: none;">
                <form action="/title" method="POST">
                    <label for="title">New Event Title:</label>
                    <input type="text" id="title" name="title" required>
                    <button type="submit">Save</button>
                    <button type="button" id="cancel-title-button">Cancel</button>
                </form>
            </div>
        </div>

        <!-- Right Column: Display Records in a Table -->
        <div class="table-column">
            <div class="header-table">
                <h2>Horse Records Table</h2>
                <div class="button-container">
                    <a id="leaderboard-button" href="{{ url_for('leaderboard_v2') }}" target="_blank" class="button">
                        <i class="fas fa-trophy"></i> 
                        View Leaderboard
                    </a>
                    <form action="{{ url_for('race') }}" method="get" style="flex: 1;">
                        <button id="race-button" type="submit" class="button">
                            <i class="fas fa-flag-checkered"></i> 
                            Race
                        </button>
                    </form>
                </div>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>Horse Number</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Organization</th>
                        <!-- <th>Age</th> -->
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.horse_number }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.organization }}</td>
                        <!-- <td>{{ record.age }}</td> -->
                        <td>
                            {% if record.image %}
                            <img src="{{ url_for('static', filename='images/' ~ record.image) }}" alt="Image" width="50" height="50">
                            {% else %}
                            <span>No Image</span>
                            {% endif %}
                        </td>
                        <td class="action-buttons">
                            <a href="{{ url_for('details', id=record.id) }}" class="button details-button">Details</a>
                            <a href="{{ url_for('edit_record', id=record.id) }}" class="button edit-button">Edit</a>
                            <a href="{{ url_for('delete_record', id=record.id) }}" class="button delete-button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">

                <div class="pagination-info">
                    <span>Total Racers: {{ total_racers }}</span>
                </div>

                {% if page > 1 %}
                    <a href="{{ url_for('index', page=page-1) }}">Previous</a>
                {% endif %}
                
                <span>Page {{ page }} of {{ total_pages }}</span>
                
                {% if page < total_pages %}
                    <a href="{{ url_for('index', page=page+1) }}">Next</a>
                {% endif %}
            </div>
            

            
        </div>
    </div>
    <script>
        document.getElementById('open-form-button').addEventListener('click', function() {
            document.getElementById('form-popup').style.display = 'block';
        });
        document.getElementById('cancel-form-button').addEventListener('click', function() {
            document.getElementById('form-popup').style.display = 'none';
        });
        
        document.getElementById('open-announcement-button').addEventListener('click', function() {
            document.getElementById('announcement-popup').style.display = 'block';
        });
        document.getElementById('cancel-announcement-button').addEventListener('click', function() {
            document.getElementById('announcement-popup').style.display = 'none';
        });
        
        document.getElementById('open-title-button').addEventListener('click', function() {
            document.getElementById('title-popup').style.display = 'block';
        });
        document.getElementById('cancel-title-button').addEventListener('click', function() {
            document.getElementById('title-popup').style.display = 'none';
        });
    </script>
</body>
</html>
